.DS_Store
**/.DS_Store
*/.DS_Store
**/.cache
**/cache
**/logs
**/world
**world_nether
**world_the_end

**/imanity/**
!**/imanity/
!**/imanity/worlds/
!**/imanity/worlds/default.yml
!**/imanity/.license
!**/imanity/config.yml
!**/imanity/knockback.yml
!**/imanity/premium.yml
!**/imanity/rancha.yml

**/plugins/LuckPerms/**
!**/plugins/LuckPerms/
!**/plugins/LuckPerms/config.yml
!**/plugins/LuckPerms/orca_network_perms.json.gz